body {
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15% 7%;
}

h1 {
  font-family: "Montserrat";
  font-style: bold;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 501;
}

h3 {
  font-family: "Montserrat";
  font-style: bold;
  font-size: 1.5rem;
  font-weight: 700;
}

p {
  font-family: "Ubuntu";
  font-weight: 410;
  color: #8f8f8f;
  padding: 0 5%;
}

.featurebox-emoji {
  color: #ef8179;
  padding: 5%;
}

.featurebox-emoji:hover {
  color: #ff4c68;
}

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

.download-button {
  margin: 5% 3% 5% 0;
}

.download-button > a {
  color: white;
}

.download-button-light > a {
  color: black;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.feature-box {
  text-align: center;
}

#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8179;
  color: #fff;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 0% 15%;
}

#press {
  background-color: #ef8179;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

#pricing {
  text-align: center;
  margin-bottom: 7%;
}

.pricing-header {
  margin: 5%;
}

.pricing-button {
  width: 100%;
}

#cta {
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 600;
  padding: 7% 15%;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .testimonial-text {
    font-size: xx-large ;
  }
  .title-image {
    position: static;
    transform: rotate(0deg);
  }
}

.footer-text {
  font-size: 3.5rem;
  line-height: 1.5;
}

#footer {
  text-align: center;
  padding-bottom: 5%;
}

.contact-logo {
  font-size: 1.3rem;
  padding-top: 5%;
}